<h3>Add user</h3>

<%= form_for @user do |f| %>

	<div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :username %><br />
          <%= f.text_field :username, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

	<%= f.label :roles %> <br>
	<%= f.collection_check_boxes :role_ids, Role.all, :id, :name %> <br>

	<%= f.submit %> <br>
<% end %>

<%= link_to "back", users_path %>